<h3>Objetos</h3>
<div ng-hide="Objeto.inserting || Objeto.editing">
  <label for="textinput-filter">{{"template.crud.search" | translate}}</label>
  <input type="text" ng-model="search" class="form-control" value="" placeholder="{{'template.crud.search' | translate}}">
</div>
<br>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="?search={{search}}" name="Objeto" entity="api/rest/Objeto/generalSearch" keys="id" rows-per-page="100" delete-message="Deseja remover?"></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Objeto.startInserting()" ng-hide="Objeto.inserting || Objeto.editing"><i class="fa fa-user"></i> <span>{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Objeto">
  <div crn-datasource="Objeto" ng-hide="Objeto.editing || Objeto.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th>
            <div>Sigla</div>
          </th>
          <th>
            <div>Descrição</div>
          </th>
          <th>
            <div>Sistema</div>
          </th>
          <th>
            <div>Data Inclusão</div>
          </th>
          <th>
            <div>Tipo Objeto</div>
          </th>
          <th>
            <div>Usuário</div>
          </th>
          <th>
            <div>{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td>
            <div>
              {{rowData.sigla}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.descricao}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.sistema.sigla}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.dataInclusao | date:'dd/MM/yyyy'}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.tipoObjeto.sigla}}
            </div>
          </td>
          <td>
            <div>
              {{rowData.user.email}}
            </div>
          </td>
          <td>
            <div>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Objeto">
  <div class="form" ng-show="Objeto.editing || Objeto.inserting">
    <form crn-datasource="Objeto">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-sigla">
          <div class="form-group">
            <label for="textinput-sigla">Sigla</label>
            <input type="text" ng-model="Objeto.active.sigla" class="form-control" id="textinput-sigla" placeholder="Sigla" required="required">
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-descricao">
          <div class="form-group">
            <label for="textinput-descricao">Descrição</label>
            <input type="text" ng-model="Objeto.active.descricao" class="form-control" id="textinput-descricao" placeholder="Descrição">
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-observacao">
          <div class="form-group">
            <label for="textinput-observacao">Observação</label>
            <input type="text" ng-model="Objeto.active.observacao" class="form-control" id="textinput-observacao" placeholder="Observação">
          </div>
        </div>
        <div data-component="crn-textinput" id="crn-textinput-dataInclusao">
          <div class="form-group">
            <label for="textinput-dataInclusao">Data Inclusão</label>
            <div style="position:relative">
              <input type="text" as-date="" format="DD/MM/YYYY" ng-model="Objeto.active.dataInclusao" class="form-control" id="textinput-dataInclusao" placeholder="Data Inclusão">
            </div>
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="Sistema" entity="api/rest/Sistema" keys="id" dependent-by="{{Objeto}}"></datasource>
        </div>
        <div data-component="crn-combobox" id="crn-combobox-sistema">
          <div class="form-group">
            <label for="combobox-sistema">Sistema</label>
            <ui-select ng-model="Objeto.active.sistema" crn-datasource="Sistema" class="crn-select" id="combobox-sistema" required="required">
              <ui-select-match>
                {{$select.selected.sigla}}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search">
                <div data-container="true">
                  {{rowData.sigla}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="Tipo Objeto" entity="api/rest/TipoObjeto" keys="id" dependent-by="{{Objeto}}"></datasource>
        </div>
        <div data-component="crn-combobox" id="crn-combobox-tipoObjeto">
          <div class="form-group">
            <label for="combobox-tipoObjeto">Tipo Objeto</label>
            <ui-select ng-model="Objeto.active.tipoObjeto" crn-datasource="Tipo Objeto" class="crn-select" id="combobox-tipoObjeto">
              <ui-select-match>
                {{$select.selected.sigla}}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search">
                <div data-container="true">
                  {{rowData.sigla}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div data-component="crn-datasource" class="component-holder">
          <datasource name="Usuário" entity="api/security/User" keys="id" dependent-by="{{Objeto}}"></datasource>
        </div>
        <div data-component="crn-combobox" id="crn-combobox-user">
          <div class="form-group">
            <label for="combobox-user">Usuário</label>
            <ui-select ng-model="Objeto.active.user" crn-datasource="Usuário" class="crn-select" id="combobox-user">
              <ui-select-match>
                {{$select.selected.email}}
              </ui-select-match>
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search">
                <div data-container="true">
                  {{rowData.email}}
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
  </div>
</div>